[submodule "tortoisebot_waypoints"]
	path = tortoisebot_waypoints
	url = https://github.com/ptientho/tortoisebot_waypoints.git
[submodule "tortoisebot"]
	path = tortoisebot
	url = https://github.com/rigbetellabs/tortoisebot.git
